* {
    font-family: cursive;
}

@keyframes myAnimation {
    0%{
        margin-top: 100;
    }

    100%{
        margin-top: 5 ;
    }
}

body {
    background-color: mediumvioletred;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.happy {
    color: white;
    margin: 5px;
    animation-name: myAnimation;
    animation-duration: 2s;
}

.valentine {
    color: white;
    margin: 5px;
    animation-name: myAnimation;
    animation-duration: 2s;
}

.day {
    color: white;
    margin: 5px;
    animation-name: myAnimation;
    animation-duration: 2s;
}

.link {
    color: lightpink ;
    font-size: 15px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deeppink;
    border-radius: 30px;
    height: 60px;
    width: 100px;
    margin-top: 30px;
    text-decoration: none;
}